body {
	font-family: 'Noto Sans', sans-serif;
	background-color: powderblue;
}

.container {
	margin: 20px 20px;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1, h2, h3, h4 {
	font-family: 'Roboto Mono', monospace;
}

.intro {
	text-align: center;
}

.list-area {
	text-align: center;
	text-decoration: none;
}

.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}

.bullet-list {
	list-style: none;
	padding: 0;
}

.projects-header {
	text-align: center;
}

.projects-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

@media (max-width: 650px) {
	.projects-grid {
		grid-template-columns: 100%;
	}
}

.projects-image-wrapper {
	justify-self: center;
	padding: 4%;
	position: relative;
}

.projects-image-wrapper:hover > h4 {
	visibility: visible;
}

.projects-image-wrapper > h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	color: white;
	visibility: hidden;
	z-index: 2;
	transition: all ease-in-out .2s;
}

.projects-image {
	border-radius: 5px;
	box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
	transition: all ease-in-out .2s;
	width: 250px;
	height: 250px;
}

.projects-image:hover {
	filter: brightness(.75);
	box-shadow: 0 32px 36px 0 rgba(34,60,80,.16);
}

.links-and-contact {
	display: grid;
	grid-template-columns: 30% 70%;
}

.profile-picture {
	border-radius: 75%;
	width: 150px;
	height: 150px;
	box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
	transition: all ease-in-out .2s;
}

.profile-picture:hover {
	box-shadow: 0 32px 36px 0 rgba(34,60,80,.16);
}

form input, textarea {
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

form {
	width: 250px;
	margin: 0 auto;
}

form input[type="submit"] {
	width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
}

#submit-button {
	background-color: steelblue;
	font-family: 'Noto Sans', sans-serif;
	color: white;
}

.links-list {
	list-style: none;
	padding: 0;
}